* {
    color: white !important;
}
.card {
    background-color: transparent;
}
.card p, .card h1 {
    margin: 0px !important;
}
.card span.anticon {
    margin-right: 5px !important;
}
.card .icons {
    display: none;
}
.card .description {
    display: block;
}
.ant-card-head {
    border-bottom: solid 1px transparent !important;
}


@media only screen and (max-width: 600px) {
    .card {
        text-align: center;
    }
    .card .ant-card-head-title > span.anticon {
        display: none !important;
    }
    .card .ant-card-body {
        padding: 10px 0 !important;
    }
    .card .description {
        display: none;
    }
    .card .icons {
        display: block;
    }
}