.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 350px;
    height: auto;
    border-radius: 15px;
    padding: 20px !important;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.75);
  }
  @media (max-width:575px) {
    .container {
      width: 90vw;
      padding: 20px 0px;
    }
    .container h2, .container p {
      width: 90%;
      margin-left: auto;
      margin-right: auto;
    }
  }
  
.back-home {
    position: absolute !important;
    top: -350px !important;
}
.input {
  background-color: transparent !important;
  text-align: center !important;
}
::placeholder {
  color: grey !important;
  opacity: 1 !important;
}
:-ms-input-placeholder {
  color: grey !important;
}
::-ms-input-placeholder {
  color: grey !important;
}

.generate {
  margin: 10px 0px !important;
  width: 100%;
  border-radius: 100px;
  font-size: 16px !important;
  height: auto;
}

.shorted {
  width: 100%;
  background-color: transparent !important;
  border: solid 1px white;
}
.shorted:hover{
  border: solid 1px #1677ff;
}