// ROUNDED CORNERS
$round-corners : 9999px !important;

// DISPLAY PROPERTY
$flex : flex !important;
$none : none !important;

// POSITION PROPERTY
$absolute : absolute !important;

// ALIGNMENT PROPERTY
$center : center !important;

// VIEWPORT
$vh100 : 100vh !important;

// SINGLE NUMERICAL PROPERTY
$zero : 0px !important;
$ten : 10px !important;
$twenty : 20px !important;
$thirty : 30px !important;
$forty : 40px !important;
$fifty : 50px !important;

// ALIGNMENTS
$left : left !important;
$right : right !important;
$center : center !important;
$justify : justify !important;

// FONT STYLE
$bold : bold !important;
$italic : italic !important;